<svg width="25px" height="20px" viewBox="0 0 25 20">
  <rect y="0" width="5" height="20" fill="#ffffff">
    <animate
      attributeName="height"
      values="20;2;20"
      begin="0s"
      dur="1s"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      values="0;10;0"
      begin="0s"
      dur="1s"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="10" y="0" width="5" height="20" fill="#ffffff">
    <animate
      attributeName="height"
      values="20;2;20"
      begin="0.2s"
      dur="1s"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      values="0;10;0"
      begin="0.2s"
      dur="1s"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="20" y="0" width="5" height="20" fill="#ffffff">
    <animate
      attributeName="height"
      values="20;2;20"
      begin="0.4s"
      dur="1s"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      values="0;10;0"
      begin="0.4s"
      dur="1s"
      repeatCount="indefinite"
    />
  </rect>
</svg>
