<div class="background-container" *ngIf="!darkMode">
  <img class="image bg-sky" src="assets/day/Dia-ceu.png" alt="anything" />
  <img
    class="image bg-sky silhouette"
    src="assets/day/Dia-ceu.png"
    alt="anything"
  />
  <img
    class="image bg-far"
    src="assets/day/Dia-fundoDistante.png"
    alt="anything"
  />
  <img
    class="image bg-far silhouette"
    src="assets/day/Dia-fundoDistante.png"
    alt="anything"
  />
  <img
    class="image bg-close"
    src="assets/day/Dia-fundoProximo.png"
    alt="anything"
  />
  <img
    class="image bg-close silhouette"
    src="assets/day/Dia-fundoProximo.png"
    alt="anything"
  />
  <img
    class="image bg-medium"
    src="assets/day/Dia-fundoMedio.png"
    alt="anything"
  />
  <img
    class="image bg-medium silhouette"
    src="assets/day/Dia-fundoMedio.png"
    alt="anything"
  />
  <img
    class="image mountains"
    src="assets/day/Dia-montanhas.png"
    alt="anything"
  />
  <img
    class="image mountains silhouette"
    src="assets/day/Dia-montanhas.png"
    alt="anything"
  />
  <img class="image sun" src="assets/day/Dia-sol.png" alt="anything" />
</div>

<div class="background-container" *ngIf="darkMode">
  <img class="image bg-sky" src="assets/night/Noite-sky.png" alt="anything" />
  <img
    class="image bg-far"
    src="assets/night/Noite-fundoDistante.png"
    alt="anything"
  />
  <img
    class="image bg-close"
    src="assets/night/Noite-fundoProximo.png"
    alt="anything"
  />
  <img
    class="image bg-medium"
    src="assets/night/Noite-fundoMedio.png"
    alt="anything"
  />
  <img
    class="image mountains"
    src="assets/night/Noite-montanhas.png"
    alt="anything"
  />
  <img class="image moon" src="assets/night/Noite-lua.png" alt="anything" />
  <img
    class="image stars"
    src="assets/night/Noite-estrelas.png"
    alt="anything"
  />
</div>
