.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.teste {
  position: absolute;
  z-index: 100;
  top: 0;
}

.weather-card-container {
  position: absolute;
  z-index: 90;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
